<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log your hours</title>
    <link rel="icon" href="https://lh3.googleusercontent.com/Wn2Ntl6O-swblFPngE9xz-kqnkEME1Bo8ZeJxvwKcuIef3Ief2Nf8f5tKv-q126tHWvP=s85">
    
</head>
<style>
.clear{
    display: none;
}

.card{
    margin: 0 auto;
        background-color: whitesmoke;
        width: 50%;
        margin-bottom: 20px;
        box-shadow: 
        12px 12px 16px 0 rgba(0, 0, 0, 0.25),
        -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
      border-radius: 50px;
    
    }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 90%;
    margin:0 auto;
}
@media only screen and (max-width: 450px) {

    .card{
        width: 99%;
    }
    textarea{
        width:300px
    }
}
</style>
<body>

    <div class="card">
<div class="container">


        log your hours <%=user.name%> 
    <a href="/profile" >go back to profile </a><br>

    <form onSubmit="return confirm('Are you sure you wish to add?');" action="/loghours" method="POST" id="form1">
        <div class="clear">

            <label for="username">Your name </label>
            <input  type="text" id="username" name="username" value=<%= user.name.replace(/ /g, `&nbsp`) %>  required><br>
            <label for="username">month </label>
            <input type="text" id="month" name="month" value=<%= month %>  required><br>
            <label for="date">date </label>
            <input type="text" id="date" name="date" value=<%= date %>  required><br>
            <label for="date">year </label>
            <input type="text" id="year" name="year" value=<%= year %>  required><br>

        </div>
      

        <label for="milano">No of hours in milano</label>
        <input type="number" id="milano" name="milano" min="0" min=0 step="any" required><br>
        

        <label for="quantity">No of hours in serrento</label>
        <input type="number" id="serrento" name="serrento" min="0"min=0 step="any" required><br>

        <label for="quantity">No of hours in toscano</label>
        <input type="number" id="toscano" name="toscano" min="0" min=0 step="any" required ><br>

        <label for="quantity">other</label><br>
        <input type="number" id="other" name="other" min="0" min=0 step="any" required ><br>

        <div class="description">
            <label for="descriptionthings">Who did you visit today?</label><br>
            <textarea  placeholder="e.g lucy , phyllis" id="descriptionpeople" name="descriptionpeople" rows="4" cols="50" required></textarea><br>

            <label for="descriptionthings">What did you do with them today?</label><br>
            <textarea  placeholder="e.g i did something and lucy felt great " id="descriptionthings" name="descriptionthings" rows="4" cols="50" required></textarea><br>

            <label for="descriptionthings">What is the outcome for the resident ?</label><br>
            <textarea  placeholder="e.g they liked it and they all smiled  " id="descriptionoutcome" name="descriptionoutcome" rows="4" cols="50" required></textarea>
            

        </div>

       
        <br>
        <label for="date">Date</label>
<input type="date" id="date" name="date" required>

    </form>
    <button   type="submit" form="form1" value="Submit">Submit</button>
</div>
    </div>
    
</body>
<script>


</script>
</html>